body{
  margin: 0;
  font-size: 16px;
  font-family: verdana,sans-serif;
  color: #333;
}
header{
  background-color: #f59a00;
  color: white;
  text-align: center;
  padding-top: 64px;
}
.btn{
  text-decoration: none;
  background-color: white;
  color: #f59a00;
  border-radius: 5px;
  display: block;
  width: 140px;
  line-height: 44px;
  margin: 40px auto;
  font-size: 14px;
  font-weight: bold;
}
.btn:hover{
  opacity: 0.9;
}
header h1{
  margin: 0;
}
header p{
  margin: 0;
}
header img{
  width: 280px;
  vertical-align: bottom;
}
.features img{
  width: 100%;
}
.features>h1{
  text-align: center;
  padding: 70px;
  font-weight: normal;
}
.container{
  margin: 0 32px;
}
.features p{
  line-height: 1.8em;
}
.features section{
  padding-bottom: 50px;
}
ul{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.members{
  background-color: #f2f2f3;
}
.members>h1{
  text-align: center;
  padding: 70px;
  font-weight: normal;
}
.members img{
  width: 150px;
  border-radius: 50%;
}
.members h2{
  font-size: 20px;
}
.members li{
  padding-bottom: 60px;
}
.call-to-action h1{
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.call-to-action{
  background-color: #f59a00;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer{
  background-color: #323135;
  color: #98969c;
  height: 150px;
  line-height: 150px;
  text-align: center;
}
footer p{
  margin: 0;
  padding: 0;
}
@media (min-width:900px){
  .top-wrapper{
    display: flex;
    width: 800px;
    margin: 0 auto;
  }
  .top-wrapper .left{
    width: 60%;
    align-self: center;
  }
  .top-wrapper .right{
    width: 40%;
  }
  .container{
    width: 800px;
    margin: 0 auto;
  }
  .container section{
    display: flex;
    justify-content: space-between;
  }
  section .left{
    width: 50%;
    margin-right: 40px;
  }
  section .right{
    width: 50%;
  }
  .container section:nth-child(2n){
    flex-direction: row-reverse;
  }
  .members> ul{
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto;
  }
  .members > ul >li{
    width: 30%;
    margin: 0 auto;
  }
  
}